{% extends 'main.html' %}
{% block title %}
login
{% endblock %}
{% block body %}
<div class="container">
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul class=flashes>
      {% for message in messages %}
      <li class="fw-bolder">{{ message }}</li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
   <form method="post">
      <input type="text" name="login" id="login" class="form-control" placeholder="Название товара"><br>
      <input type="password" name="password" id="password" class="form-control" placeholder="Цена Р"><br>
      <a href="{{ url_for("register") }}" class="btn btn-secondary"> Регистрация</a>
      <input type="submit" class="btn btn-success" >
   </form>
</div>
{% endblock %}
