{% extends 'base.html' %}

{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask dynamic WTF forms</title>
</head>
<body>
    <h1 style="text-align: center;">Создать Таблицу</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{form.table_name.label}}
        {{ form.table_name(class="form-control mt-3 text-center", placeholder="Название")}} <br>
        <h3 style="text-align: center;">Колонки</h3>
        {{ form.columns() }}
        <button class="btn btn-success" id="add-movie-field">Добавить колонку</button>
        <button class="btn btn-success" type="submit">Создать</button>
    </form>
</body>
</html>
    <script>
    window.onload = function() {
        let addMovieFieldBtn = document.getElementById('add-movie-field');
        addMovieFieldBtn.addEventListener('click', function(e){
            e.preventDefault();
            let allMoviesFieldWrapper = document.getElementById('columns');
            let allMoviesField = allMoviesFieldWrapper.getElementsByTagName('input');
            if(allMoviesField.length > 100) {
                alert('You can  have only 100 columns');
                return;
            }
            let movieInputIds = []
            for(let i = 0; i < allMoviesField.length; i++) {
                movieInputIds.push(parseInt(allMoviesField[i].name.split('-')[1]));
            }
            let newFieldName = `columns-${Math.max(...movieInputIds) + 1}`;
            allMoviesFieldWrapper.insertAdjacentHTML('beforeend',`
            <li><input class="form-control mt-3 text-center" id="${newFieldName}" name="${newFieldName}" type="text" placeholder="Название колонки" value=""></li>
            `);
        });
    }
</script>
{% endblock %}