{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type='text/javascript'>
        $(document).ready(function () {

            // Show Input element
            $('.edit').click(function () {
                $('.txtedit').hide();
                $(this).next('.txtedit').show().focus();
                $(this).hide();
            });

            // Save data
            $(".txtedit").focusout(function () {

                // Get edit id, field name and value
                var id = this.id;
                var split_id = id.split("_");
                var field_name = split_id[0];
                var edit_id = split_id[1];
                var value = $(this).val();

                // Hide Input element
                $(this).hide();

                // Hide and Change Text of the container with input elmeent
                $(this).prev('.edit').show();
                $(this).prev('.edit').text(value);

                $.ajax({
                    url: '/update',
                    type: 'post',
                    data: {field: field_name, value: value, id: edit_id},
                    success: function (response) {
                        if (response == 1) {
                            console.log('Save successfully');
                        } else {
                            console.log("Not saved.");
                        }
                    }
                });

            });

        });
    </script>
        <table class="table col">
            <thead>
            </thead>
            <tbody>
            {% for el in items %}
                <tr>
                    <td>{{ el.id }}</td>
                    <td>
                        <div class='edit'> {{ el.name }}</div>
                        <input type='text' class='txtedit' value='{{ el.name }}' id='name_{{ el.id }}'>
                    </td>
                    <td>
                        <div class='edit'>{{ el.price }} </div>
                        <input type='text' class='txtedit' value='{{ el.price }}' id='price_{{ el.id }}'>
                    </td>
                    <td>
                        <div class='edit'>{{ el.amount }} </div>
                        <input type='text' class='txtedit' value='{{ el.amount }}' id='amount_{{ el.id }}'>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <canvas id="1chart" draggable="true" style="width:100%; max-width:600px"></canvas>
        <form class="container d-flex" action="/adprod" method="post">
            <input class="form-control mt-3 me-3" name="name" placeholder="Имя" type="text">
            <input class="form-control mt-3 me-3" name="price" placeholder="Цена" type="text">
            <input class="form-control mt-3 me-3" name="amount" placeholder="Кол-во" type="text">
            <input class="mt-3 btn btn-success" value="Создать" type="submit">
        </form>
        <div class="d-flex mt-3">
            <button class="btn btn-success me-3" onclick="del()">Удалить</button>
            <a href="editviewer">
                <button class="btn btn-success me-3">Edit</button>
            </a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">Dropdown button
                </button>
                <form method="post" class="text-center dropdown-menu">
                    <select name="type" class="form-select mt-2" aria-label="Default select example">
                        <option value="line" selected>Линейный</option>
                        <option value="pie">Круговой</option>
                    </select>
                    <input class="form-control mt-3" name="column-x" placeholder="Ось x" type="text">
                    <input class="form-control mt-3" name="column-y" placeholder="Ось y" type="text">
                    <input class="form-control mt-3" name="file-name" placeholder="Ссылка" type="text">
                    <input class="mt-3 btn btn-success" value="Создать" type="submit">
                </form>
            </div>
        </div>
        <script>
            var xValues = [{% for el in items %}"{{ el.name }}",{% endfor %}];
            var yValues = [{% for el in items %}{{ el.price }}, {% endfor %}];
            var barColors = ['rgba(255, 99, 132, 0.3)', 'rgba(255, 159, 64, 0.5)', 'rgba(255, 205, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(54, 162, 235, 0.5)',];

            new Chart("1chart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Items"
                    },
                    scales: {
                        yAxes: [{ticks: {min: 0}}],
                    }
                }
            });
        </script>
    </div>

    <div class="row justify-content-center">

<canvas style="width:50%; max-width:700px" id="line"></canvas>
<canvas style="width:50%; max-width:700px" id="pie"></canvas>
<!--- add div --->
    </div>
<script>var labels = [{% for el in items %}'{{ el.name }}',{% endfor %}];var data = {labels: labels, datasets: [{label: 'My First dataset', backgroundColor: 'rgba({{range(1, 255)|random}},{{range(1, 255)|random}},{{range(1, 255)|random}}, 0.7)', borderColor: 'rgb(255, 99, 132)', data: [{% for el in items %}'{{ el.price }}',{% endfor %}],}]};var config = {type: 'line', data: data, options: {}};</script><script>var myChart = new Chart(document.getElementById('line'), config);</script>
<script>var data = {labels: [{% for el in items %}'{{ el.name }}',{% endfor %}], datasets: [{label: 'My First Dataset', data: [{% for el in items %}'{{ el.amount }}',{% endfor %}],backgroundColor: [{% for el in items %}'rgba({{range(1, 255)|random}},{{range(1, 255)|random}},{{range(1, 255)|random}}, 0.7)',{% endfor %}], hoverOffset: 4}]};var config = {type: 'doughnut', data: data,};</script><script>var myChart = new Chart(document.getElementById('pie'), config);</script>
<!--- add chart --->
    <script>
    function del(){
  document.getElementById("pie").remove();
}
    </script>
    <!--- add link --->
{% endblock %}